.table-hover tr .edit-icon {
  opacity: 0;
  cursor: pointer;
}

.table-hover tr:hover .edit-icon {
  opacity: 0.3;
}

.img-squared {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.wrap-column {
  white-space: nowrap;
  width: 1%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
